<header id="header" class="">
	<div class="splash">
		<p><i class="fa fa-arrow-down"></i></p>
	</div>
</header>
<section class="section">
	<h1>This is office Hours</h1>
</section>
<section class="section">
	<h1>We do things!</h1>
</section>
