<header id="header" class="">
	<div class="splash">
		<p><i class="fa fa-arrow-down nextSection"></i></p>
	</div>
</header>
<section class="section" id="home-section">
	<h1>This is office Hours</h1>
	<h3>
	<% if logged_in? %>
  		<%= link_to("Make an availability", current_teacher, remote: false ) %>
	<% else %>
  		<%= link_to("Sign In", login_path, remote: false) %>
	<% end %>
	</h3>
</section>
</section>
