<!-- new Teacher -->
<div class="teacher-wrapper">
    <div class="info-box">
        <div class="ethos">
            <div class="head">
                <h2>Dr. James Fabrey </h2>
                <span class="normal-hours">Monday/Wednesday/Thursday 10:00AM-11:00AM</span>
            </div>
        </div>
        <div class="bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
    <div class="avail-box">
        <h3>Availabilities</h3>
        <div class="availabilities">
            <div id="availability-1" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 10:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
            <div id="availability-2" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 11:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new Teacher -->
<div class="teacher-wrapper">
    <div class="info-box">
        <div class="ethos">
            <div class="head">
                <h2>Dr. Afrand Agah </h2>
                <span class="normal-hours">Hours Go Here</span>
            </div>
        </div>
        <div class="bio">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        </div>
    </div>
    <div class="avail-box">
        <h3>Availabilities</h3>
        <div class="availabilities">
            <div id="availability-1" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 10:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
            <div id="availability-2" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 11:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new Teacher -->
<div class="teacher-wrapper">
    <div class="info-box">
        <div class="ethos">
            <div class="head">
                <h2>Mr. Steven Battilana</h2>
                <span class="normal-hours">Hours Go Here</span>
            </div>
        </div>
        <div class="bio">
            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
        </div>
    </div>
    <div class="avail-box">
        <h3>Availabilities</h3>
        <div class="availabilities">
            <div id="availability-1" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 10:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
            <div id="availability-2" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 11:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new Teacher -->
<div class="teacher-wrapper">
    <div class="info-box">
        <div class="ethos">
            <div class="head">
                <h2>Dr. Richard Burns</h2>
                <span class="normal-hours">Hours Go Here</span>
            </div>
        </div>
        <div class="bio">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
        </div>
    </div>
    <div class="avail-box">
        <h3>Availabilities</h3>
        <div class="availabilities">
            <div id="availability-1" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 10:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
            <div id="availability-2" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 11:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new Teacher -->
<div class="teacher-wrapper">
    <div class="info-box">
        <div class="ethos">
            <div class="head">
                <h2>Dr. Richard G. Epstein</h2>
                <span class="normal-hours">Hours Go Here</span>
            </div>
        </div>
        <div class="bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac enim sed ante pharetra egestas. Aenean a lacus ex. Donec eget tortor eu lorem sagittis ullamcorper nec vitae libero. Morbi varius dolor sit amet mauris ornare, vitae bibendum augue rutrum. Nulla aliquet aliquet mi, facilisis commodo sapien cursus non. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque aliquam augue massa, sed tristique mi accumsan a. Duis rutrum libero quis ex porta, et porta nunc congue. Vestibulum vitae mi at mi mollis auctor. Cras ante diam, aliquam in risus a, molestie congue arcu.
        </div>
    </div>
    <div class="avail-box">
        <h3>Availabilities</h3>
        <div class="availabilities">
            <div id="availability-1" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 10:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
            <div id="availability-2" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 11:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new Teacher -->
<div class="teacher-wrapper">
    <div class="info-box">
        <div class="ethos">
            <div class="head">
                <h2>Dr. Zhen Jiang</h2>
                <span class="normal-hours">Hours Go Here</span>
            </div>
        </div>
        <div class="bio">
            Phasellus non elit eget ipsum eleifend pretium et eu lacus. Maecenas at tempor turpis. Donec erat nisi, porttitor ut elementum sed, tincidunt eu lorem. Phasellus sed quam suscipit nulla venenatis volutpat. Nunc nec orci dolor. Duis ac condimentum tortor. Integer posuere odio nec scelerisque dignissim. Nunc venenatis sem ac nisi blandit, a porta sapien facilisis. Ut volutpat, orci sed cursus eleifend, lectus lorem sagittis risus, tempor fringilla ex turpis non dolor. Vivamus eget neque tempus, placerat ante ac, sodales ligula. Praesent orci nunc, hendrerit eu fringilla non, congue vitae est.
        </div>
    </div>
    <div class="avail-box">
        <h3>Availabilities</h3>
        <div class="availabilities">
            <div id="availability-1" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 10:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
            <div id="availability-2" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 11:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new Teacher -->
<div class="teacher-wrapper">
    <div class="info-box">
        <div class="ethos">
            <div class="head">
                <h2>Dr. Robert Kline</h2>
                <span class="normal-hours">Hours Go Here</span>
            </div>
        </div>
        <div class="bio">
            Fusce at pretium tellus. Cras eget erat massa. Aenean condimentum ultricies massa id placerat. In vehicula massa ac enim consectetur laoreet. Phasellus justo diam, malesuada blandit suscipit quis, ullamcorper eu nibh. Vivamus tempus augue mi, sed posuere est lobortis ac. Curabitur ut pellentesque neque. Nulla tincidunt lorem felis, ut pulvinar turpis varius a. Cras quis interdum arcu. Curabitur finibus libero quis magna pretium hendrerit. Phasellus scelerisque posuere sem a bibendum. Vestibulum quis quam lobortis, faucibus nunc non, bibendum dolor. Etiam elementum volutpat mattis.
        </div>
    </div>
    <div class="avail-box">
        <h3>Availabilities</h3>
        <div class="availabilities">
            <div id="availability-1" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 10:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
            <div id="availability-2" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 11:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new Teacher -->
<div class="teacher-wrapper">
    <div class="info-box">
        <div class="ethos">
            <div class="head">
                <h2>Dr. Bin Lu</h2>
                <span class="normal-hours">Hours Go Here</span>
            </div>
        </div>
        <div class="bio">
            Maecenas blandit, mi ut pharetra auctor, risus dolor dignissim diam, vitae maximus sem ligula a felis. Duis non semper elit. Integer placerat, urna et vestibulum hendrerit, lorem massa aliquam tortor, vel sagittis est ex non sapien. Integer ex neque, mattis eget convallis sit amet, condimentum non enim. Vestibulum sed vulputate lacus, nec vehicula libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam sed erat eu velit lobortis ultrices at ut sem. Sed suscipit vulputate lorem, id semper lectus dignissim ut. Duis suscipit feugiat facilisis. Vestibulum interdum at justo sit amet sodales. Pellentesque nec euismod mi, vitae ornare neque. Donec hendrerit ultrices ipsum, eget laoreet elit sagittis ut. Nulla eget tincidunt metus.
        </div>
    </div>
    <div class="avail-box">
        <h3>Availabilities</h3>
        <div class="availabilities">
            <div id="availability-1" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 10:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
            <div id="availability-2" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 11:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new Teacher -->
<div class="teacher-wrapper">
    <div class="info-box">
        <div class="ethos">
            <div class="head">
                <h2>Dr. Xiaojun Ruan</h2>
                <span class="normal-hours">Hours Go Here</span>
            </div>
        </div>
        <div class="bio">
            Cras id tincidunt eros, et lacinia sapien. Nam eu nibh volutpat, dapibus diam at, tristique est. In hac habitasse platea dictumst. Sed lobortis erat justo, ut sodales nibh volutpat sit amet. Etiam placerat ultricies blandit. Sed tincidunt accumsan porta. Nullam euismod nunc quis molestie imperdiet. Suspendisse gravida sem mi, et vestibulum libero mollis sed. Praesent condimentum orci tincidunt, ultrices eros ut, dapibus eros. Integer faucibus hendrerit metus a facilisis. Pellentesque ornare efficitur enim, a iaculis nibh ornare nec. Aenean nunc lectus, vulputate suscipit accumsan at, volutpat vel leo. Proin quam mi, euismod et purus sed, imperdiet tempor ante.
        </div>
    </div>
    <div class="avail-box">
        <h3>Availabilities</h3>
        <div class="availabilities">
            <div id="availability-1" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 10:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
            <div id="availability-2" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 11:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new Teacher -->
<div class="teacher-wrapper">
    <div class="info-box">
        <div class="ethos">
            <div class="head">
                <h2>Dr. Richard Wyatt</h2>
                <span class="normal-hours">Hours Go Here</span>
            </div>
        </div>
        <div class="bio">
            Donec non urna malesuada, rhoncus quam et, consectetur mauris. Duis id sagittis dui. Nulla sollicitudin ante et sapien lacinia tristique. Duis nec finibus dolor, ac euismod turpis. Vestibulum nec odio fermentum, hendrerit quam vitae, euismod eros. Etiam bibendum, ligula mattis ultrices auctor, augue nibh porttitor libero, pretium fringilla elit tortor nec ipsum. In ac elit lectus.
        </div>
    </div>
    <div class="avail-box">
        <h3>Availabilities</h3>
        <div class="availabilities">
            <div id="availability-1" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 10:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
            <div id="availability-2" class="single-avail">
                <div class="col-md-10">
                    <h4 class="content">April 08, 2015, 11:00 in 25 UNA Room 301</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
