// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	overflow-x:hidden;
}

#header div.splash { 
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	line-height: 100vh;
	background-image: url("/images/office.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    h1 {
    	line-height: 30vh;
   		margin-top: 0;
		text-shadow:
		    -1px -1px 0 #FFF,  
		    1px -1px 0 #FFF,
		    -1px 1px 0 #FFF,
		    1px 1px 0 #FFF;
    }
    .input-append {
    	line-height: normal;
    	margin: 0 auto;
    	width: 768px;
    	.btn {
    		float: left;
 			height: 40px;
  			width: 44px;
		    border-radius: 0;
    	}
    }
	div.help-tab {
		margin: 0;
		text-align: center;
		line-height: normal;
		display: block;
		h2 {
			text-align: center;
			text-shadow:
			    -1px -1px 0 #FFF,  
			    1px -1px 0 #FFF,
			    -1px 1px 0 #FFF,
			    1px 1px 0 #FFF;
			margin-top: 50px;
		}
		i {
		    height: 60px;
		    width: 60px;
		    line-height: 60px;
		    margin: 0 auto;
		    -moz-border-radius: 30px; /* or 50% */
		    border-radius: 30px; /* or 50% */

			background-color: black;
			background-position: center; 
		    color: white;
		    text-align: center;
		    font-size: 2em;
		    &:hover {
		    	background-color: #2f2f2f;
		    	color: #eee;
		    	cursor: pointer;
		    }
		}
	}
}



.section {
	min-height: 100vh;
	width:100%;
	background-image: url("/images/teacher.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    div.help-container {
    	background-color: rgba(238,238,238,.5); 
       	width: 60%;
       	margin: 10% auto;
       	min-height: 80%;
       	h3, p {
       		margin: 10px 10px;
       		font-weight: bold;
       		text-align: center;
       	}
       	h3 {
       		color: #050505;
       	}
       	p {
       		font-size: 1.2em;
       		color: #000;
       	}
    }
}

form.navbar-form {
	height: 40px;
}

div input.span2 {
	height: 40px !important;
	width: 724px;
	margin-bottom: 15px;
  	box-sizing: border-box;
  	float: left;
  	padding-left: 10px;
}

.navbar-form { 
	margin: 0;
}